extends layout

block content
  style(type="text/css").
    .navbar .nav-link{
      color: #fff !important;
    } 
    .navbar .nav-link:hover{
      color: #f77f00 !important;
    } 
    .navbar .navbar-expand-md .navbar-light{
      letter-spacing: 2px;
    }
    #botao{
      letter-spacing: 2px;
      background-color: #14213d;
      font-size: 18px;
      color:#fff;
      font-weight: tiny;
    }
    #botao:hover{
      border:1px solid #fca311;
      background-color:#fff;
      color:#fca311;
    }

  nav(class="navbar navbar-expand-md navbar-light;" style="background-color:#003049;")
    h1(style="color:#fff") Ficheiro
    button(class="navbar-toggler" data-toggle="collapse" data-target="#servicos")
    span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="servicos")
    div(class="navbar-nav ml-auto")
      a(href='/user/meuperfil' class="nav-item nav-link") Meu Perfil
      a(href='/novofile' class="nav-item nav-link") Novo ficheiro
      a(href='/recursos' class="nav-item nav-link") Recursos
      a(href='/admistrador' class="nav-item nav-link") Admin 
      a(href='/logout' class="nav-item nav-link") Logout

  h1 Não é possível dar upload do ficheiro!
  p Verifique que ele cumpre as regras de upload



