extends layout

block content
  style(type="text/css").
    .navbar .nav-link{
       color: #fff !important;
    } 
    .navbar .nav-link:hover{
       color: #f77f00 !important;
    } 
    .navbar .navbar-expand-md .navbar-light{
      letter-spacing: 2px;
    }
  nav(class="navbar navbar-expand-md navbar-light;" style="background-color:#003049;")
    h1(style="color:#fff") Bem-vindo
    button(class="navbar-toggler" data-toggle="collapse" data-target="#servicos")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="servicos")
      div(class="navbar-nav ml-auto")
        a(href='/user/meuperfil' class="nav-item nav-link") Meu Perfil
        a(href='/novofile' class="nav-item nav-link") Novo ficheiro
        a(href='/recursos' class="nav-item nav-link") Recursos
        a(href='/admistrador' class="nav-item nav-link") Admin 
        a(href='/logout' class="nav-item nav-link") Logout
  body()
    div(class="mx-auto" style="width: 300px; marging:100px; padding:100px; text-align:center;")
      form(class="mx-auto form-group" action='/login')
        input(type="submit" class="btn btn-outline-secondary btn-lg" style="padding-left:23px; padding-right:23px;" value="Login")
      form(class="mx-auto form-group" action='/registo')
        input(type="submit" class="btn btn-outline-secondary btn-lg" value="Sign in")


       
    
    
    
    
