extends layout

block content
    style(type="text/css").
        .navbar .nav-link{
            color: #fff !important;
        } 
        .navbar .nav-link:hover{
        color: #f77f00 !important;
        } 
        .navbar .navbar-expand-md .navbar-light{
            letter-spacing: 2px;
        }
    nav(class="navbar navbar-expand-md navbar-light;" style="background-color:#003049;")
        h1(style="color:#fff") Documentos
        button(class="navbar-toggler" data-toggle="collapse" data-target="#servicos")
        span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="servicos")
        div(class="navbar-nav ml-auto")
            a(href='/menu' class="nav-item nav-link") Home
            a(href='/user/meuperfil' class="nav-item nav-link") Meu Perfil
            a(href='/novofile' class="nav-item nav-link") Novo ficheiro
            a(href='/recursos' class="nav-item nav-link") Recursos
            a(href='/admistrador' class="nav-item nav-link") Admin 
            a(href='/logout' class="nav-item nav-link") Logout
    
    form(action='/user/change' method='POST' style="margin:100px;")
        h3 Mudança de password
        div(class="form-group")
            div(class="form-group")
                label(for="exampleInputPassword1") Nova password
                input(type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password")
            button(type="submit" class="btn btn-outline-secondary btn-lg") Enviar
            
